<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
    <meta name="google" content="notranslate">
    <link rel=stylesheet type="text/css" href="/static/styles/header.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <header>
        <div class="header">
            <div>
                <a href="/"><img class="header_logo" src="/static/images/logo.png" /></a>
            </div>
            <div class='header_right'>
                <div>最新消息</div>
                <div>關於我們</div>
                <a href="/login" class='btn_login'>登入</a>
            </div>
        </div>
    </header>
    {% for row in book %}
    <div class="w-3/5 mx-auto mt-24 book">
        <div class="book_info">
            <img src="/static/images/{{row['img']}}">
            <div class="ml-24 mt-24">
                <h3 class="mb-8 text-3xl font-bold">{{row['title']}}</h3>
                <div class="space-y-2">
                    <div>中文書＞心理勵志＞自我成長</div>
                    <div>ISBN : {{row['ISBN']}}</div>
                    <div>作者 : {{row['author']}}</div>
                    <div>出版社 : {{row['publisher']}}</div>
                </div>
                <div class="mt-4">
                    <a href="/" class="btn_borrow">借閱申請</a>
                </div>
            </div>
        </div>
        <div class="my-24 ml-8 book_description">
            <h4 class="text-2xl font-bold">內容簡介</h4>
            <p class="mt-8 ml-4">{{row['description']|safe}}</p>
        </div>
    </div>
    {% endfor %}
    <script language="javascript">
        let t1 = 0;
        let t2 = 0;
        let timer = null;

        document.onscroll = function () {
            clearTimeout(timer);
            timer = setTimeout(isscrollEnd, 10000);
            t1 = document.documentElement.scrollTop || document.body.scrollTop;
        }
        function isscrollEnd() {
            t2 = document.documentElement.scrollTop || document.body.scrollTop;
            if (t2 == t1) {
                console.log('滾動結束了')
                var bodyTop = 0;
                if (typeof window.pageYOffset != "undefined") {
                    bodyTop = window.pageYOffset;

                } else if (typeof document.compatMode != "undefined"
                    && document.compatMode != "BackCompat") {
                    bodyTop = document.documentElement.scrollTop;

                } else if (typeof document.body != "undefined") {
                    bodyTop = document.body.scrollTop;
                }
                /* 顯示出捲動後的高度值 */
                console.log(bodyTop)

                fetch("http://localhost:5000/scroll_stop", {
                    body: JSON.stringify({
                        bodyTop : bodyTop,
                    }),
                    headers: new Headers({
                        'Content-Type': 'application/json',
                    }),
                    method: "POST"
                })
                    // .then((json) => json.json())
            }
        }
    </script>

    <!-- <form name="form1" method="post" action="">
        <center>
            <p>
                <font size="5" color="#0000FF" face="華文細黑">您在本站已停留：</font>
            </p>
            <p>
                <input name="textarea" type="text" value="">
            </p>
        </center>
        <script language="javascript">

            for (var i = 0; i < 100; i++) {
                document.write("<br/>");
            }

            var topValue = 0,// 上次滚动条到顶部的距离
                interval = null;// 定时器
            document.onscroll = function () {
                if (interval == null)// 未发起时，启动定时器，1秒1执行
                    interval = setInterval("test()", 10000);
                topValue = document.documentElement.scrollTop;
            }

            function test() {
                // 判断此刻到顶部的距离是否和1秒前的距离相等
                if (document.documentElement.scrollTop == topValue) {
                    alert("scroll bar is stopping!");
                    clearInterval(interval);
                    interval = null;
                }
            }

            var second = 0;
            var minute = 0;
            var hour = 0;
            window.setTimeout("interval();", 1000);
            function interval() {
                second++;
                if (second == 60) {
                    second = 0; minute += 1;
                }
                if (minute == 60) {
                    minute = 0; hour += 1;
                }
                document.form1.textarea.value = hour + "時" + minute + "分" + second + "秒";
                window.setTimeout("interval();", 1000);

                if (second == 10) {
                    console.log("haha")

                    var bodyTop = 0;
                    if (typeof window.pageYOffset != "undefined") {
                        bodyTop = window.pageYOffset;

                    } else if (typeof document.compatMode != "undefined"
                        && document.compatMode != "BackCompat") {
                        bodyTop = document.documentElement.scrollTop;

                    } else if (typeof document.body != "undefined") {
                        bodyTop = document.body.scrollTop;
                    }
                    /* 顯示出捲動後的高度值 */
                    console.log(bodyTop)
                    // document.getElementById("jsScrollTop").innerHTML = bodyTop;
                }

            }
        </script>
    </form> -->

</body>

</html>

<style>
    .book {
        font-size: large;
    }

    .book_info {
        width: 100%;
        display: flex;
    }

    .book_info img {
        width: 400px;
        padding: 16px 0;
        border-radius: 10px;
        background-color: #F6F6F6;
    }

    .book_description h4 {
        color: #2F4F4F;
        padding-bottom: 4px;
        border-bottom: 1.5px solid #9c9c9c;
    }

    .btn_borrow {
        padding: 8px 20px;
        border-radius: 5px;
        color: #000000;
        background-color: #c7eddc;
        text-decoration: none;
    }

    .btn_borrow:hover {
        color: #FEFBED;
        background-color: #2F4F4F;
    }
</style>