<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>首頁</title>
		<meta name="google" content="notranslate">
	 </head>
<body>
<h1>圖書資訊暨借閱管理系統</h1>
<a href="/">首頁</a>
<a href="/booklist">查看所有書籍</a>
<br>
<br>
<br>
<h1>管理員登入</h1>
    <form action="/s_signin" method="POST">
        員工編號 <input type="text" name="empid" /><br/>
        輸入密碼 <input type="password" name="password" /><br/>
        <button>登入</button>
    </form>
    <br>
    <div><a href="/new_staff">註冊管理員帳號</a></div>
	<br>
	<h1>讀者會員登入</h1>
	<form action="/r_signin" method="POST">
		姓名 <input type="text" name="rname" /><br />
		密碼 <input type="password" name="password" /><br />
		<button>登入</button>
	</form>
	<br>
	<div><a href="/new_reader">註冊讀者帳號</a></div>
 </body>
 </html>