<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>首頁</title>
	<meta name="google" content="notranslate">
	<link rel=stylesheet type="text/css" href="/static/styles/header.css">
	<link rel=stylesheet type="text/css" href="/static/styles/search.css">
	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
	<header>
		<div class="header">
			<div>
				<a href="/"><img class="header_logo" src="/static/images/logo.png" /></a>
			</div>
			<div class='header_right'>
				<div class="mr-12">最新消息</div>
				<div class="mr-12">關於我們</div>
				<div id="btn_container"></div>
			</div>
		</div>
	</header>
	<div>
		<img class="w-full" src="./static/images/banner.png" alt="banner" />
	</div>
	<form action="/book_search" class='w-9/12 mx-auto -mt-12 p-6 search'>
		<input class='w-full p-6 search_input' type="text" name="book_search" placeholder='請輸入關鍵字' />
		<input type="image" class='search_icon' src="./static/images/search.png" alt="Submit">
		<img class='mt-2' src="./static/images/line.png" />
	</form>
	</div>
	<div class='my-48'>
		<h3 class='flex_center text-4xl font-bold'>新書推薦</h3>
		<div class="flex_center">
			{% for row in books %}
			<a href="/book/{{row["id"]}}" class="mt-12 mx-6 book">
				<img class="py-4" src="./static/images/{{row['img']}}" />
				<div class="book_description pl-2 text-xl">
					<div class="mt-4">{{substract(row["title"])}}</div>
					<div>{{row['author']}}</div>
				</div>
			</a>
			{% endfor %}
		</div>
	</div>
</body>

</html>

<script>
	const contentContainer = document.getElementById("btn_container");
	const reader = localStorage.getItem('rname');

	document.addEventListener("DOMContentLoaded", function () {
		if (reader === null) {
			contentContainer.innerHTML = '<a href="/login" class="btn_login">登入</a>';
		} else {
			contentContainer.innerHTML = `
			<button class='btn_login'>黃金會員</button>
			<div class="hover px-4 py-6 space-y-2">
				<a href="/r_borrowed">借書紀錄</a>
				<div>個人資料</div>
				<div class="btn_logout" onclick="signout()">登出</div>
			</div>`;
		}
	});

	function signout() {
		localStorage.removeItem("rname");
		location.href='/r_signout';
	}
</script>

<style>
	.flex_center {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.book {
		transition: all .3s;
	}

	.book img {
		width: 280px;
		border-radius: 10px;
		background-color: #F6F6F6;
	}

	.book:hover {
		transform: scale(1.2, 1.2);
	}

	.book_description {
		font-size: larger;
	}
</style>