<!doctype html>
<html>
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>所有書籍</title>
      <meta name="google" content="notranslate">
   </head>
   <body>

    <h1>所有書本</h1>
  <form action="/book_search">
      請輸入書名
      <input type="text" name="book_search"/>
      <button>查詢</button>
  </form>
  <br>
    <div><a href="/r_member">回會員控制頁面</a></div>
  <br>
    <div><a href="/r_publishers">查看所有出版商</a></div>
    <hr>
      <table border = 1>
         <thead>
            <td>ISBN</td>
            <td>書名</td>
            <td>作者</td>
            <td>分類</td>
            <td>版次</td>
            <td>出版社</td>
         </thead>
         
         {% for row in books %}  
            <tr>
               <td>{{row["ISBN"]}}</td>
               <td>{{row["title"]}}</td>
               <td>{{row["author"]}}</td>
               <td>{{row['category']}}</td>
               <td>{{row['version']}}</td>
               <td>{{row['publisher']}}</td>	
            </tr>
         {% endfor %}
      </table>

   </body>
</html>