<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>讀者專區</title>
        <meta name="google" content="notranslate">
     </head>
<body>
    <h1>{{ rname }}你好，歡迎你回來</h1>
    <br>
    <h1>查詢</h1>
    <a href="/r_booklist">查看所有書籍</a>
    <br>
    <a href="/r_profile">查看個人資料</a>
    <br>
    <a href="/r_borrowed">查看目前借閱的書籍</a>
    <hr>
    <h1>新增</h1>
    <a href="/book_available">我要借書</a>
    <br>
    <a href="/recommend">書籍薦購</a>
    <br>
    <hr>
    <h1>修改</h1>
    <br>
    <a href="/r_borrowed">我要還書</a>
    <br>

	<a href="/r_modify">修改個人資料</a>
    <br>
    <hr>
    <h1>刪除</h1>
    <br>
    <a href="/del_account">刪除個人帳戶</a>
    <br>
    <br>
    <input type="button" value="登出" onclick="location.href='/r_signout'">
</body>
</html>