<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>修改資料</title>
        <meta name="google" content="notranslate">
     </head>
<body>
    <h1>修改個人資料</h1>
    <br>
    <div><a href="/r_member">回會員控制頁面</a></div>
    <br>
    <hr>
    <form action="{{ url_for('r_modify0') }}" method="POST">
        姓名：{{ rname }} <br>
        身分證字號：{{ ssn }} <br>
        地址：<br>
        <textarea type="text" name="address"></textarea><br>
        信箱：<br>
        <input type="text" name="mail" /></br>
        電話：<br>
        <input type="text" name="phone" /><br>
        設定密碼<br>
        <input type="password" name="password" /><br><br>
        <button>修改</button>
    </form>
</body>
</html>