<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>讀者資料</title>
    <meta name="google" content="notranslate">
 </head>

<body>
    <h1>讀者個人資料</h1>
    <br>
    <hr>
    讀者名字：{{reader["rname"]}}
    <br>
    身分證字號：{{reader["ssn"]}}
    <br>
    地址:{{reader["address"]}}
    <br>
    信箱：{{reader['mail']}}
    <br>
    電話號碼：{{reader['phone']}}
    <br>
    <br>
    <div><a href="/r_member">回會員控制頁面</a></div>
</body>

</html>