<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>借閱報告</title>
      <meta name="google" content="notranslate">
   </head>
<body>
   <h1>所有借閱紀錄</h1>
   <form action="/new_report" method="POST">
     讀者身分證
     <input type="text" name="SSN"/>
     ISBN
     <input type="text" name="ISBN"/>
     書名
     <input type="text" name="title"/>
     借書日期
     <input type="text" name="issue"/>
     應歸還日期
     <input type="text" name="return_date"/>
     <button>新增一筆借閱紀錄</button>
 </form>
 <br>
   <br>
    <div><a href="/s_member">回管理員控制頁面</a></div>
    <hr>
    <br>
    <table border = 1>
        <thead>
           <td>編號</td>
           <td>使用者ID</td>
           <td>ISBN</td>
           <td>書名</td>
           <td>借出日期</td>
           <td>應歸還日期</td>
           <td>刪除</td>
        </thead>
        
        {% for row in reports %}  
           <tr>
              <td>{{row["Reg_no"]}}</td>
              <td>{{row["User_id"]}}</td>
              <td>{{row["book_no"]}}</td>
              <td>{{row["title"]}}</td>
              <td>{{row['issue']}}</td>
              <td>{{row['return_date']}}</td>	
              <td>
               <a href="/d_report?book={{row['book_no']}}">刪除這筆紀錄</a>
            </td>
           </tr>
        {% endfor %}
     </table>
</body>
</html>