.header {
	width: 100%;
	padding: 36px 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #FEFBED;
	box-sizing: border-box;
}

.header_logo {
	width: 100px;
	height: 26px;
}

.header_right {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: larger;
}

.header_right div {
	margin-right: 40px;
}

.btn_login {
	padding: 8px 24px;
	border-radius: 5px;
	color: #FEFBED;
	background-color: #2F4F4F;
	text-decoration: none;
}
